parameters:
    elasticsearch:
        - localhost:9200
    solarium:
        endpoint:
            localhost:
                host: localhost
                port: 8983
                path: /solr/
                core: webp_shopbot.en_CA
                timeout: 60